---

#------------------------------------------------------------------------------
# YAML Anchors and Aliases simplify maintenance. This is an example of an anchor
# for a link. The corresponding alias would look like:
#   link: *grafana-home

anchorLinks:
  - link: &grafana-home
      url: "https://grafana.com/"
      params: "time"

#------------------------------------------------------------------------------
# Grafana Variable Scalars

# These scalars allow the grafana variable selections to impact the threshold values
# used in the panel. Each grafana variable has an array of rules where a rule applies
# to a subset of cells as defined by the cellIdPatternScope.
#
# At initialization the rule set for each cell is determined. Then at render time the first
# rule on a cell to match the variable value results in that scalar being applied. The scalars
# are accumulative across variables, but only the first rule match for a given variable will
# be applied.
variableThresholdScalars:
  system:
    - {variableValuePattern: ".*client.*", thresholdScalar: 2, cellIdPatternScope: [".*box.*"]}
  environment:
    - {variableValuePattern: "dev", thresholdScalar: 0.2, cellIdPatternScope: ["inbox_depth"]}

#------------------------------------------------------------------------------
# Panel Config

# This defines the default color gradientMode. It defines the default value on cell labelColor.gradientMode
# and fillColor.gradientMode for when the field is undefined. Values are "hue" and "none" with
# "none" being the default when undefined.
gradientMode: "hue"

# This defines the preamble that will be added to every svg ID listed under 'cells'.
# It can be an empty string. DrawIO at the moment adds a non-configurable 'cell-' as
# shown here.
cellIdPreamble: "cell-"

# During initialization all inner cells that are id-free are assigned a new ID based off the
# parent ID. By default they will be given the id <original-id><cellIdExtender><increasing-number>
# where cellIdExtender will default if unset to "@flowrpt". If for any reason that causes your SVG ID
# clashes you can change the cellIdExtender value. But normally it's just left unset.
cellIdExtender: "@flowrpt"

# This defines the set of cells that are going to be driven
cells: 
  # Each field name is the svg ID. i.e. within config this cell will be identifed as
  # 'inbox_depth'. Within the actual svg it will be called 'cell-inbox_depth'.
  inbox_depth:
    # The dateRef defines the name of the time-series. This is the default time-series that will
    # be applied to all configured attributes on this cell. It can be overriden on an attribute
    # by attribute basis.
    dataRef: "test-data-large-sin"

    # The label field defines how the text in the cell will be adjusted based on the
    # time-series value. The time series value is postpended with a seperator. If no
    # adjustment is wanted the field should be omitted.
    label:
      # Optional attribute level override for the associated time-series.
      dataRef: "test-data-large-cos"
  
      # Valid values are cr, space, colon, replace
      separator: "cr"

      # This defines the units of the value. The strings that should be entered can be
      # listed using the 'Debugging Units' button in the panel. A few example values
      # would be none, ops, pps, litreh, forcekNm
      units: "none"

      # The number of decimal points to display. Enter 0 for none.
      decimalPoints: 0

    # The label color field defines how the text in the cell should be colored based on the
    # time-series value. If no adjustment is wanted the field should be omitted.
    labelColor:
      # Optional attribute level override for the associated time-series.
      dataRef: "test-data-large-cos"

      # This defines the coloring gradientMode. When set to "hue", color values will be interpolated between
      # the threshold levels. When set to "none" the colors are absolute and change when a threshold is
      # crossed. The "hue" gradientMode will work with all color definitions apart from unrecognised color names.
      # If not defined it defaults to panelConfig gradientMode.
      gradientMode: "hue"

      # Thresholds define a color and a value. The threshold array order matters. The time-series
      # value is compared to each threshold breaking out when it spans the surrounding thresholds.
      # The base color is the first threshold color. The first threshold value is relevent only in
      # the "hue" gradientMode as it determines the value at which the color should start to transition.
      #
      # The color can be in the following formats:
      # - a grafana color as can be seen from 'Debugging Colors'.
      # - a color reference to a color name in the siteConfig
      # - shorthex: i.e. 'f00'
      # - longhex: i.e. 'f00000'
      # - rgb: i.e. 'rgb(255, 0, 0)
      # - hsl: i.e. 'hsl(0, 100%, 50%)'
      thresholds:
        - {color: "green", level: 0}
        - {color: "orange", level: 500}
        - {color: "red", level: 1000}

      # This defines an ID to a thresholds set defined in the siteConfig. If you want to share a
      # thresholds set just within the panelConfig you should instead use a yaml anchor/alias.
      # The above 'thresholds' field takes precedence. Only if undefined will thresholdsRef be
      # checked.
      thresholdsRef: "depth"

    # The fill color field defines how the cell should be colored based on the
    # time-series value. If no adjustment is wanted the field should be omitted.
    fillColor:
      # See labelColor
      dataRef: "test-data-large-cos"

      # See labelColor
      gradientMode: "hue"

      # See labelColor
      thresholds:
        - {color: "semi-dark-green", level: 0}
        - {color: "orange", level: 400}
        - {color: "red", level: 800}

      # See labelColor
      thresholdsRef: "depth"

    # The link defines the url to open if the cell is left clicked.
    link:
      # URL to open. It can contain parameters and those parameters can contain grafana variables.
      url: "https://drawio-app.com"

      # This defines what portion of the dashboard params should be added to the URL. Appended parameters
      # will correctly post-pend on any existing parameters in the above URL. The params values are:
      # 'none': this is the default
      # 'time': this is particularly useful where a relative time-band is being used as these relative terms
      #         aren't available as grafana-variables.
      # 'all': all params will be appended
      params: "time"
      
    # This defines an ID to a link defined in the siteConfig. If you want to share a
    # link just within the panelConfig you should instead use a yaml anchor/alias.
    # The above 'link' field takes precedence. Only if undefined will linkRef be
    # checked.
    linkRef: "drawio"
